*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
    color:#0E0E0E;
    
}

.container{
    width: 1600px;
    background-color: #f1f1f3;
    margin: 0 auto;
    padding: 0 160px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.navBar h1{
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;

}

.navBar button{
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    color: #006A50;
    font-weight:600;
    font-size: 18px;
    cursor: pointer;
}

.bannerOne{
    width: 1280px;
    height: 560px;
    padding: 60px 70px;
    border-radius: 24px;
    background-color: #C6E4D6;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 80px;  

}

.bannerOne p{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    
}

.bannerOne h2{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 16px 0 24px;
    
}

.bannerOne button{
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    background-color: #006A50;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;

}

.bannerImage img{
    width: 474.03px;
    height: 400px;
}

.pillarsOne{
    margin-bottom: 80px;
}

.pillarsOne h2{
    font-weight: bold;
    font-size: 40px;
}

.pillarsTwo{
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.pillarsThree{

    width: 302px;
    height: 244px;
    border-radius: 16px;
    padding: 24px;
    background-color: #ffffff;
    border: 1px solid #dedede;
}


.pillarsThree img{
    width: 64px;
    height: 64px;

}

.pillarsThree h3{
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;

}

.pillarsThree p{
    font-size: 14px;
    font-weight: 400;
    line-height:1.5;
    color: #565656;
}


.visionOne h2{
    font-weight: bold;
    font-size: 40px;
}

.visionOne p{

    margin: 24px 0 32px 0;
    font-size: 14px;
    font-weight: 400;
    line-height:1.5;
    color: #565656;

}

.visionTwo{
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.visionThree{

    width: 410.67px;
    height: 325px;
    border-radius: 16px;
    padding: 32px;
    
    
}

.firstDiv{
    background-color: #d5e1f5;
    border: 1px solid #5490F5;

}

.secondDiv{
    background-color: #C6E4D6;
    border: 1px solid #09A15C;

}

.thirdDiv{
    background-color: #F7EBCF;
    border: 1px solid #FFC239;

}


.visionOne{
    margin-bottom: 80px;
}

.visionThree img{
    width: 64px;
    height: 64px;

}

.visionThree h3{
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;

}

.visionThree p{
    font-size: 14px;
    font-weight: 400;
    line-height:1.5;
    color: #565656;
}

.visionThree button{
    border-radius: 8px;
    padding: 11px 20px;
    color: #ffffff;
    border: none;
    outline: none;
}


.firstDiv button{
    background-color: #5490F5;

}

.secondDiv button{
    background-color: #09A15C;

}

.thirdDiv button{
    background-color: #FFC239;

}


.about{
    position: relative;
    width: 1280px;
    height: 256px;
    padding: 40px 24px;
    border-radius: 16px;
    border: 1px solid #dedede;
    background-color: #ffffff;

}

.about p{
    font-size: 16px;
    font-weight: 400;
    line-height:1.6;
    color: #565656;
    z-index: 2;

}

.about h3{
    font-size: 20px;
    font-weight: 600;
    color: #3e3e3e;

}

.about h6{
    font-size: 16px;
    font-weight: 400;
    line-height:1.6;
    color: #565656;
}

.about img{
    width: 64px;
    height: 64px;
    position: absolute;
    left: 25px;
    top: 40px;
    z-index: 1;
}



.opinionOne{
    width: 1280px;
    height: 481px;
    margin-bottom: 80px;

}


.opinionOne h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 24px;
}

.opinionTwo{

    width: 1280px;
    height: 409px;
    padding: 32px;
    border-radius: 16px;
    background-color: #ffffff;

}


.childOne{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1216px;
    height: 86px;
    padding: 24px;
    background-color: #C6E4D6;
    border: 1px solid #09A15C;
}

.childOne p {
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}

.childTwo{
    display: flex;
    align-items: center;
    width: 1216px;
    height: 86px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
  
    

}
.childThree{
    display: flex;
    align-items: center;
    width: 1216px;
    height: 86px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
  
    

}
.childFour{
    display: flex;
    align-items: center;
    width: 1216px;
    height: 86px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    
    

}

.leftDiv{
    display: flex;
    width: 1017px;
    height: 92px;
    padding: 24px;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
   
    
    
}

.rightDiv{

    display: flex;
    width: 200px;
    height: 92px;
    padding: 24px;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    align-items: center;
    justify-content: center;
    

}

.rightDiv select{
    width: 152px;
    height: 44px;
    padding: 10px 14px;
    border-radius: 4px;
    background-color: #C6E4D6;
    border: 1px solid #0E0E0E;
    font-size: 16px;
    font-weight: 600;

}